# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Project Specific
temp/
records/*.png
records/*.jpg
calibration_db.json
config/calibration_db.json
scratch/

# IDE
.vscode/
.idea/
.gemini/
